/target/
*.iml
jeecg-boot-modules-demo
rebel.xml
!.mvn/wrapper/maven-wrapper.jar
*.pdb
*.hprof
bootJar/
/winsw/
/templ/
/config/
/upload/
.gradle/
.gradle
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
documents/

### IntelliJ IDEA ###
.idea/*
!.idea/icon.png
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac ###
.DS_Store
logs/
/logs/
target
