<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2023-present ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE.txt文件；
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明；
      3.请保留源码和相关描述文件的项目出处，作者声明等；
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      6.本软件不允许在国家法律规定范围外使用，如出现违法行为原作者本人不承担任何法律风险；
      7.进行商用时，不得基于AnYi Cloud的基础，修改包装而成一个与AnYi Cloud EE、AnYi Zeebe EE、AnYi Standalone EE功能类似的程序，进行销售或发布，参与同类软件产品市场的竞争；
      8.本软件使用的第三方依赖皆为开源软件，如需要修改第三方源码请遵循第三方源码附带开源协议；
      9.本软件流程部分请遵循camunda开源协议：
        https://docs.camunda.org/manual/latest/introduction/third-party-libraries
        https://github.com/camunda/camunda-bpm-platform/blob/master/LICENSE
      10.若您的项目无法满足以上几点，可申请商业授权。

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.cloud.message.modules.manage.mapper.ManageSendRecordMapper">
    <resultMap type="com.anyilanxin.cloud.message.modules.manage.entity.ManageSendRecordEntity"
             id="ManageSendRecordMap">
    <result property="sendRecordId" column="send_record_id" jdbcType="VARCHAR"/>
    <result property="templateId" column="template_id" jdbcType="VARCHAR"/>
    <result property="templateThirdCode" column="template_third_code" jdbcType="VARCHAR"/>
    <result property="templateCode" column="template_code" jdbcType="VARCHAR"/>
    <result property="sendBatchNo" column="send_batch_no" jdbcType="VARCHAR"/>
    <result property="businessId" column="business_id" jdbcType="VARCHAR"/>
    <result property="templateOriginalData" column="template_original_data" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="sendType" column="send_type" jdbcType="INTEGER"/>
    <result property="sendNum" column="send_mum" jdbcType="INTEGER"/>
    <result property="sendMaxNum" column="send_max_num" jdbcType="INTEGER"/>
    <result property="sendReceiver" column="send_receiver" jdbcType="VARCHAR"/>
    <result property="sendContent" column="send_content" jdbcType="VARCHAR"/>
    <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
    <result property="sendStatus" column="send_status" jdbcType="VARCHAR"/>
    <result property="sendResults" column="send_results" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>

  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        send_record_id, template_id, template_third_code,send_mum, send_max_num, template_code, send_batch_no, business_id, template_original_data,
        send_type, send_receiver, send_content, send_time, send_status, send_results, create_area_code, create_position_code,
        create_org_sys_code, create_system_code, create_user_id, create_user_name, create_tenant_id, create_time, update_user_id,
        update_user_name, update_time, remark, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.send_record_id, ali.template_id, ali.template_third_code, ali.send_mum, ali.send_max_num,ali.template_code, ali.send_batch_no, ali.business_id,
        ali.template_original_data, ali.send_type, ali.send_receiver, ali.send_content, ali.send_time, ali.send_status, ali.send_results,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_user_name,
        ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.send_record_id, ali.template_id, ali.template_third_code, ali.send_mum, ali.send_max_num,ali.template_code, ali.send_batch_no, ali.business_id,
        ali.send_type, ali.send_receiver, ali.send_content, ali.send_time, ali.send_status, ali.send_results,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_user_name,
        ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.cloud.message.modules.manage.service.dto.ManageSendRecordPageDto">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM msg_manage_send_record ali
        <where>
             ali.del_flag = 0
          <if test="query.templateThirdCode != null and query.templateThirdCode != ''">
            AND LOCATE(#{query.templateThirdCode, jdbcType=VARCHAR}, ali.template_third_code) &gt; 0
          </if>
          <if test="query.templateCode != null and query.templateCode != ''">
            AND LOCATE(#{query.templateCode, jdbcType=VARCHAR}, ali.template_code) &gt; 0
          </if>
          <if test="query.sendBatchNo != null and query.sendBatchNo != ''">
            AND LOCATE(#{query.sendBatchNo, jdbcType=VARCHAR}, ali.send_batch_no) &gt; 0
          </if>
          <if test="query.sendType != null">
             AND ali.send_type = #{query.sendType, jdbcType=INTEGER}
          </if>
          <if test="query.sendStatus != null and query.sendStatus != ''">
             AND ali.send_status = #{query.sendStatus, jdbcType=VARCHAR}
          </if>
         <if test="query.startTime != null">
             AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
          </if>
        </where>
    </select>

    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE msg_manage_send_record
        <set>
            del_flag = 1,
         </set>
        WHERE send_record_id = #{sendRecordId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE msg_manage_send_record
        <set>
            del_flag = 1,
        </set>
        WHERE send_record_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:on -->
</mapper>
