<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2023-present ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE.txt文件；
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明；
      3.请保留源码和相关描述文件的项目出处，作者声明等；
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      6.本软件不允许在国家法律规定范围外使用，如出现违法行为原作者本人不承担任何法律风险；
      7.进行商用时，不得基于AnYi Cloud的基础，修改包装而成一个与AnYi Cloud EE、AnYi Zeebe EE、AnYi Standalone EE功能类似的程序，进行销售或发布，参与同类软件产品市场的竞争；
      8.本软件使用的第三方依赖皆为开源软件，如需要修改第三方源码请遵循第三方源码附带开源协议；
      9.本软件流程部分请遵循camunda开源协议：
        https://docs.camunda.org/manual/latest/introduction/third-party-libraries
        https://github.com/camunda/camunda-bpm-platform/blob/master/LICENSE
      10.若您的项目无法满足以上几点，可申请商业授权。

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.cloud.system.modules.rbac.mapper.RbacOrgRoleUserMapper">
    <resultMap type="com.anyilanxin.cloud.system.modules.rbac.entity.RbacOrgRoleUserEntity" id="RbacOrgRoleUserMap">
    <result property="roleUserId" column="role_user_id" jdbcType="VARCHAR"/>
    <result property="orgRoleId" column="org_role_id" jdbcType="VARCHAR"/>
    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
  </resultMap>


    <resultMap type="com.anyilanxin.cloud.corecommon.model.auth.RoleInfo" id="RoleInfoMap">
    <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
    <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
    <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
    <result property="dataAuthType" column="data_auth_type" jdbcType="INTEGER"/>
    <result property="customDataAuthData" column="custom_data_auth_data" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler"/>
    <result property="roleType" column="role_type" jdbcType="INTEGER"/>
  </resultMap>

  <!-- @formatter:off -->
    <sql id="Column_Role_List_Ali">
        ali.org_role_id AS role_id, ali.role_name,  ali.data_auth_type, ali.custom_data_auth_data,
        ali.role_code, ali.auto_bind, ali.role_status, ali.remark,
        ali.unique_help, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>


    <!--数据库字段-->
    <sql id="Column_List">
        role_user_id, org_role_id, user_id,org_id
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.role_user_id, ali.org_role_id, ali.user_id, ali.org_id
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.role_user_id, ali.org_role_id, ali.user_id, ali.org_id
    </sql>


    <!--数据库字段待别名-->
    <sql id="Column_Menu_List_Ali">
        ali.menu_id, ali.parent_id, ali.`path`, ali.component, ali.path_name, ali.redirect, ali.menu_type,
        ali.iframe, ali.iframe_type, ali.menu_status, ali.meta_title, ali.ignore_auth, ali.ignore_keep_alive,
        ali.affix, ali.icon, ali.icon_type, ali.frame_src, ali.transition_name, ali.hide_breadcrumb,
        ali.carry_param, ali.hide_children_in_menu, ali.current_active_menu, ali.hide_tab, ali.hide_menu,
        ali.order_no, ali.ignore_route, ali.show_tag, ali.type, ali.content, ali.dot, ali.hide_path_for_children,
        ali.button_action_tag, ali.button_express, ali.system_id, ali.enable_delete, ali.menu_sys_code,
        ali.unique_help, ali.remark, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag, ali.button_action, srs.system_code
    </sql>


    <!-- 获取用户机构角色(完整数据) -->
    <select id="selectUserOrgRoleAllInfoListById"
            resultType="com.anyilanxin.cloud.system.modules.rbac.service.dto.RbacRoleSimpleDto">
        SELECT <include refid="Column_Role_List_Ali"/>
        FROM sys_rbac_org_role ali
        INNER JOIN sys_rbac_org_role_user sroru ON ali.org_role_id = sroru.org_role_id
        WHERE
            ali.org_id = #{orgId, jdbcType=VARCHAR}
            AND ali.del_flag = 0
            AND sroru.user_id = #{userId, jdbcType=VARCHAR}
    </select>


    <!-- 查询用户在某个机构下的角色关联菜单信息 -->
    <select id="selectMenuByUserIdAndOrgId"
            resultType="com.anyilanxin.cloud.system.modules.rbac.service.dto.RbacMenuDto">
        SELECT
            <include refid="Column_Menu_List_Ali"/>
        FROM sys_rbac_org_role_user sroru
        INNER JOIN sys_rbac_org_role sror ON sroru.org_role_id = sror.org_role_id
        INNER JOIN sys_rbac_org_role_menu srorm ON srorm.org_role_id = sror.org_role_id
        INNER JOIN sys_rbac_menu ali ON ali.menu_id = srorm.menu_id
        INNER JOIN sys_rbac_system srs ON srs.system_id = ali.system_id
        WHERE
            sroru.user_id = #{userId, jdbcType=VARCHAR}
            AND sror.org_id = #{orgId, jdbcType=VARCHAR}
            AND sror.del_flag = 0
            AND sror.role_status = 1
            AND ali.del_flag = 0
            AND ali.menu_status =1
            AND srs.del_flag = 0
            <if test="systemCodes != null and systemCodes.size > 0">
                AND srs.system_code IN
                <foreach collection="systemCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>

    <!-- 通过用户id物理删除 -->
    <delete id="physicalDeleteByUserId">
        DELETE
        FROM sys_rbac_org_role_user
        WHERE user_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE sys_rbac_org_role_user
        <set>
            del_flag = 1,
         </set>
        WHERE role_user_id = #{roleUserId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE sys_rbac_org_role_user
        <set>
            del_flag = 1,
        </set>
        WHERE role_user_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:on -->
</mapper>
