<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zxiaozhou.skillfull.auth.modules.rbac.mapper.RbacPermissionDataRuleMapper">

    <resultMap type="indi.zxiaozhou.skillfull.auth.modules.rbac.entity.RbacPermissionDataRuleEntity"
               id="RbacPermissionDataRuleMap">
        <result property="permissionDataRuleId" column="permission_data_rule_id" jdbcType="VARCHAR"/>
        <result property="correlationId" column="correlation_id" jdbcType="VARCHAR"/>
        <result property="ruleName" column="rule_name" jdbcType="VARCHAR"/>
        <result property="ruleColumn" column="rule_column" jdbcType="VARCHAR"/>
        <result property="ruleConditions" column="rule_conditions" jdbcType="VARCHAR"/>
        <result property="ruleValue" column="rule_value" jdbcType="VARCHAR"/>
        <result property="ruleStatus" column="rule_status" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
        <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
        <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
        <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
        <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--数据库字段-->
    <sql id="Column_List">
        permission_data_rule_id, correlation_id, rule_name, rule_column, rule_conditions, rule_value, rule_status,
        remark, create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time, del_flag,
        create_area_code, create_position_code, create_org_sys_code, create_system_code, create_tenant_id
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.permission_data_rule_id, ali.correlation_id, ali.rule_name, ali.rule_column, ali.rule_conditions,
        ali.rule_value, ali.rule_status, ali.remark, ali.create_user_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.permission_data_rule_id, ali.correlation_id, ali.rule_name, ali.rule_column, ali.rule_conditions,
        ali.rule_value, ali.rule_status, ali.remark, ali.create_user_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="indi.zxiaozhou.skillfull.auth.modules.rbac.service.dto.RbacPermissionDataRulePageDto">
        SELECT
        <include refid="Column_List"/>
        FROM auth_rbac_permission_data_rule
        <where>
            del_flag = 0
            <if test="query.permissionDataRuleId != null and query.permissionDataRuleId != ''">
                AND permission_data_rule_id = #{query.permissionDataRuleId, jdbcType=VARCHAR}
            </if>
            <if test="query.correlationId != null and query.correlationId != ''">
                AND correlation_id = #{query.correlationId, jdbcType=VARCHAR}
            </if>
            <if test="query.ruleName != null and query.ruleName != ''">
                AND rule_name = #{query.ruleName, jdbcType=VARCHAR}
            </if>
            <if test="query.ruleColumn != null and query.ruleColumn != ''">
                AND rule_column = #{query.ruleColumn, jdbcType=VARCHAR}
            </if>
            <if test="query.ruleConditions != null and query.ruleConditions != ''">
                AND rule_conditions = #{query.ruleConditions, jdbcType=VARCHAR}
            </if>
            <if test="query.ruleValue != null and query.ruleValue != ''">
                AND rule_value = #{query.ruleValue, jdbcType=VARCHAR}
            </if>
            <if test="query.ruleStatus != null">
                AND rule_status = #{query.ruleStatus, jdbcType=INTEGER}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.delFlag != null">
                AND del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="indi.zxiaozhou.skillfull.auth.modules.rbac.service.dto.RbacPermissionDataRuleDto"
            parameterType="indi.zxiaozhou.skillfull.auth.modules.rbac.controller.vo.RbacPermissionDataRuleQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM auth_rbac_permission_data_rule
        <where>
            del_flag = 0
            <if test="permissionDataRuleId != null and permissionDataRuleId != ''">
                AND permission_data_rule_id = #{permissionDataRuleId, jdbcType=VARCHAR}
            </if>
            <if test="correlationId != null and correlationId != ''">
                AND correlation_id = #{correlationId, jdbcType=VARCHAR}
            </if>
            <if test="ruleName != null and ruleName != ''">
                AND rule_name = #{ruleName, jdbcType=VARCHAR}
            </if>
            <if test="ruleColumn != null and ruleColumn != ''">
                AND rule_column = #{ruleColumn, jdbcType=VARCHAR}
            </if>
            <if test="ruleConditions != null and ruleConditions != ''">
                AND rule_conditions = #{ruleConditions, jdbcType=VARCHAR}
            </if>
            <if test="ruleValue != null and ruleValue != ''">
                AND rule_value = #{ruleValue, jdbcType=VARCHAR}
            </if>
            <if test="ruleStatus != null">
                AND rule_status = #{ruleStatus, jdbcType=INTEGER}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- 通过填值规则id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM auth_rbac_permission_data_rule
        WHERE permission_data_rule_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE auth_rbac_permission_data_rule
        <set>
            del_flag = 1,
        </set>
        WHERE permission_data_rule_id = #{permissionDataRuleId, jdbcType=VARCHAR}
    </update>
</mapper>