<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zxiaozhou.skillfull.auth.modules.rbac.mapper.RbacCorrelateRoleMapper">

    <resultMap type="indi.zxiaozhou.skillfull.auth.modules.rbac.entity.RbacCorrelateRoleEntity"
               id="RbacCorrelateRoleMap">
        <result property="correlateRoleId" column="correlate_role_id" jdbcType="VARCHAR"/>
        <result property="correlateId" column="correlate_id" jdbcType="VARCHAR"/>
        <result property="correlateType" column="correlate_type" jdbcType="INTEGER"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
        <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
        <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
        <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
        <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
        <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!--数据库字段-->
    <sql id="Column_List">
        correlate_role_id, correlate_id, correlate_type, role_id, remark, create_user_id, create_user_name, create_time,
        update_user_id, update_user_name, update_time, del_flag, create_area_code, create_position_code,
        create_org_sys_code, create_system_code, create_tenant_id
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.correlate_role_id, ali.correlate_id, ali.correlate_type, ali.role_id, ali.remark, ali.create_user_id,
        ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_tenant_id
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.correlate_role_id, ali.correlate_id, ali.correlate_type, ali.role_id, ali.remark, ali.create_user_id,
        ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_tenant_id
    </sql>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="indi.zxiaozhou.skillfull.auth.modules.rbac.service.dto.RbacCorrelateRoleDto"
            parameterType="indi.zxiaozhou.skillfull.auth.modules.rbac.controller.vo.RbacCorrelateRoleQueryVo">
        SELECT
        <include refid="Column_List_Ali"/>,
        arr.role_name,
        arr.role_sys_code,
        arr.role_code
        FROM auth_rbac_correlate_role ali
        INNER JOIN auth_rbac_role arr
        ON arr.role_id = ali.role_id
        WHERE
        ali.del_flag = 0
        AND arr.del_flag = 0
        AND arr.role_status = 1
        AND correlate_id = #{correlateId, jdbcType=VARCHAR}
    </select>


    <!-- 通过角色关联关系id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM auth_rbac_correlate_role
        WHERE correlate_role_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM auth_rbac_correlate_role
        WHERE correlate_role_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE auth_rbac_correlate_role
        <set>
            del_flag = 1,
        </set>
        WHERE correlate_role_id = #{correlateRoleId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE auth_rbac_correlate_role
        <set>
            del_flag = 1,
        </set>
        WHERE correlate_role_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>