<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zxiaozhou.skillfull.message.modules.manage.mapper.ManageAnnouncementMapper">

    <resultMap type="indi.zxiaozhou.skillfull.message.modules.manage.entity.ManageAnnouncementEntity"
               id="ManageAnnouncementMap">
        <result property="anntId" column="annt_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="msgAbstract" column="msg_abstract" jdbcType="VARCHAR"/>
        <result property="msgContent" column="msg_content" jdbcType="VARCHAR"/>
        <result property="senderUserName" column="sender_user_name" jdbcType="VARCHAR"/>
        <result property="senderUserId" column="sender_user_id" jdbcType="VARCHAR"/>
        <result property="receiveType" column="receive_type" jdbcType="INTEGER"/>
        <result property="receiveInfos" column="receive_infos" jdbcType="VARCHAR"/>
        <result property="sendType" column="send_type" jdbcType="INTEGER"/>
        <result property="finalySendTime" column="finaly_send_time" jdbcType="TIMESTAMP"/>
        <result property="sendTime" column="send_time" jdbcType="TIMESTAMP"/>
        <result property="cancelTime" column="cancel_time" jdbcType="TIMESTAMP"/>
        <result property="sendStatus" column="send_status" jdbcType="INTEGER"/>
        <result property="pageUrl" column="page_url" jdbcType="VARCHAR"/>
        <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
        <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
        <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
        <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--数据库字段-->
    <sql id="Column_List">
        annt_id, title, msg_abstract, msg_content, sender_user_name, sender_user_id, receive_type, receive_infos,
        send_type, finaly_send_time, send_time, cancel_time, send_status, page_url, create_area_code,
        create_position_code, create_org_sys_code, create_system_code, create_user_id, create_tenant_id,
        create_user_name, create_time, update_user_id, update_user_name, update_time, remark, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.annt_id, ali.title, ali.msg_abstract, ali.msg_content, ali.sender_user_name, ali.sender_user_id,
        ali.receive_type, ali.receive_infos, ali.send_type, ali.finaly_send_time, ali.send_time, ali.cancel_time,
        ali.send_status, ali.page_url, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_user_id, ali.create_tenant_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.annt_id, ali.title, ali.msg_abstract, ali.msg_content, ali.sender_user_name, ali.sender_user_id,
        ali.receive_type, ali.receive_infos, ali.send_type, ali.finaly_send_time, ali.send_time, ali.cancel_time,
        ali.send_status, ali.page_url, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_user_id, ali.create_tenant_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="indi.zxiaozhou.skillfull.message.modules.manage.service.dto.ManageAnnouncementPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM msg_manage_announcement ali
        <where>
            ali.del_flag = 0
            <if test="query.anntId != null and query.anntId != ''">
                AND ali.annt_id = #{query.anntId, jdbcType=VARCHAR}
            </if>
            <if test="query.title != null and query.title != ''">
                AND ali.title = #{query.title, jdbcType=VARCHAR}
            </if>
            <if test="query.msgAbstract != null and query.msgAbstract != ''">
                AND ali.msg_abstract = #{query.msgAbstract, jdbcType=VARCHAR}
            </if>
            <if test="query.msgContent != null and query.msgContent != ''">
                AND ali.msg_content = #{query.msgContent, jdbcType=VARCHAR}
            </if>
            <if test="query.senderUserName != null and query.senderUserName != ''">
                AND ali.sender_user_name = #{query.senderUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.senderUserId != null and query.senderUserId != ''">
                AND ali.sender_user_id = #{query.senderUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.receiveType != null">
                AND ali.receive_type = #{query.receiveType, jdbcType=INTEGER}
            </if>
            <if test="query.receiveInfos != null and query.receiveInfos != ''">
                AND ali.receive_infos = #{query.receiveInfos, jdbcType=VARCHAR}
            </if>
            <if test="query.sendType != null">
                AND ali.send_type = #{query.sendType, jdbcType=INTEGER}
            </if>
            <if test="query.finalySendTime != null">
                AND ali.finaly_send_time = #{query.finalySendTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.sendTime != null">
                AND ali.send_time = #{query.sendTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.cancelTime != null">
                AND ali.cancel_time = #{query.cancelTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.sendStatus != null">
                AND ali.send_status = #{query.sendStatus, jdbcType=INTEGER}
            </if>
            <if test="query.pageUrl != null and query.pageUrl != ''">
                AND ali.page_url = #{query.pageUrl, jdbcType=VARCHAR}
            </if>
            <if test="query.createAreaCode != null and query.createAreaCode != ''">
                AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createPositionCode != null and query.createPositionCode != ''">
                AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
                AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createSystemCode != null and query.createSystemCode != ''">
                AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createTenantId != null and query.createTenantId != ''">
                AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND ali.remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.delFlag != null">
                AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="indi.zxiaozhou.skillfull.message.modules.manage.service.dto.ManageAnnouncementDto"
            parameterType="indi.zxiaozhou.skillfull.message.modules.manage.controller.vo.ManageAnnouncementQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM msg_manage_announcement
        <where>
            del_flag = 0
            <if test="anntId != null and anntId != ''">
                AND annt_id = #{anntId, jdbcType=VARCHAR}
            </if>
            <if test="title != null and title != ''">
                AND title = #{title, jdbcType=VARCHAR}
            </if>
            <if test="msgAbstract != null and msgAbstract != ''">
                AND msg_abstract = #{msgAbstract, jdbcType=VARCHAR}
            </if>
            <if test="msgContent != null and msgContent != ''">
                AND msg_content = #{msgContent, jdbcType=VARCHAR}
            </if>
            <if test="senderUserName != null and senderUserName != ''">
                AND sender_user_name = #{senderUserName, jdbcType=VARCHAR}
            </if>
            <if test="senderUserId != null and senderUserId != ''">
                AND sender_user_id = #{senderUserId, jdbcType=VARCHAR}
            </if>
            <if test="receiveType != null">
                AND receive_type = #{receiveType, jdbcType=INTEGER}
            </if>
            <if test="receiveInfos != null and receiveInfos != ''">
                AND receive_infos = #{receiveInfos, jdbcType=VARCHAR}
            </if>
            <if test="sendType != null">
                AND send_type = #{sendType, jdbcType=INTEGER}
            </if>
            <if test="finalySendTime != null">
                AND finaly_send_time = #{finalySendTime, jdbcType=TIMESTAMP}
            </if>
            <if test="sendTime != null">
                AND send_time = #{sendTime, jdbcType=TIMESTAMP}
            </if>
            <if test="cancelTime != null">
                AND cancel_time = #{cancelTime, jdbcType=TIMESTAMP}
            </if>
            <if test="sendStatus != null">
                AND send_status = #{sendStatus, jdbcType=INTEGER}
            </if>
            <if test="pageUrl != null and pageUrl != ''">
                AND page_url = #{pageUrl, jdbcType=VARCHAR}
            </if>
            <if test="createAreaCode != null and createAreaCode != ''">
                AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="createPositionCode != null and createPositionCode != ''">
                AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="createOrgSysCode != null and createOrgSysCode != ''">
                AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="createSystemCode != null and createSystemCode != ''">
                AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createTenantId != null and createTenantId != ''">
                AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- 通过公告id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM msg_manage_announcement
        WHERE annt_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM msg_manage_announcement
        WHERE annt_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE msg_manage_announcement
        <set>
            del_flag = 1,
        </set>
        WHERE annt_id = #{anntId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE msg_manage_announcement
        <set>
            del_flag = 1,
        </set>
        WHERE annt_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>