<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.skillfull.process.modules.base.mapper.DesignListenMapper">

  <resultMap type="com.anyilanxin.skillfull.process.modules.base.entity.DesignListenEntity" id="DesignListenMap">
    <result property="listenId" column="listen_id" jdbcType="VARCHAR"/>
    <result property="listenCode" column="listen_code" jdbcType="VARCHAR"/>
    <result property="listenType" column="listen_type" jdbcType="INTEGER"/>
    <result property="listenName" column="listen_name" jdbcType="VARCHAR"/>
    <result property="classPath" column="class_path" jdbcType="VARCHAR"/>
    <result property="eventType" column="event_type" jdbcType="VARCHAR"/>
    <result property="listenState" column="listen_state" jdbcType="INTEGER"/>
    <result property="listenValueType" column="listen_value_type" jdbcType="INTEGER"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>
  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        listen_id, listen_code, listen_type, listen_name, class_path, event_type, listen_state, listen_value_type,
        remark, create_area_code, create_position_code, create_org_sys_code, create_system_code, create_user_id,
        create_tenant_id, create_user_name, create_time, update_user_id, update_user_name, update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.listen_id, ali.listen_code, ali.listen_type, ali.listen_name, ali.class_path, ali.event_type,
        ali.listen_state, ali.listen_value_type, ali.remark, ali.create_area_code, ali.create_position_code,
        ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_tenant_id, ali.create_user_name,
        ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.listen_id, ali.listen_code, ali.listen_type, ali.listen_name, ali.class_path, ali.event_type,
        ali.listen_state, ali.listen_value_type, ali.remark, ali.create_area_code, ali.create_position_code,
        ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_tenant_id, ali.create_user_name,
        ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="com.anyilanxin.skillfull.process.modules.base.service.dto.DesignListenPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM act_custom_design_listen ali
        <where>
            ali.del_flag = 0
            <if test="query.listenId != null and query.listenId != ''">
                AND ali.listen_id = #{query.listenId, jdbcType=VARCHAR}
            </if>
            <if test="query.listenCode != null and query.listenCode != ''">
                AND ali.listen_code = #{query.listenCode, jdbcType=VARCHAR}
            </if>
            <if test="query.listenType != null">
                AND ali.listen_type = #{query.listenType, jdbcType=INTEGER}
            </if>
            <if test="query.listenName != null and query.listenName != ''">
                AND ali.listen_name = #{query.listenName, jdbcType=VARCHAR}
            </if>
            <if test="query.classPath != null and query.classPath != ''">
                AND ali.class_path = #{query.classPath, jdbcType=VARCHAR}
            </if>
            <if test="query.eventType != null and query.eventType != ''">
                AND ali.event_type = #{query.eventType, jdbcType=VARCHAR}
            </if>
            <if test="query.listenState != null">
                AND ali.listen_state = #{query.listenState, jdbcType=INTEGER}
            </if>
            <if test="query.listenValueType != null">
                AND ali.listen_value_type = #{query.listenValueType, jdbcType=INTEGER}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND ali.remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.createAreaCode != null and query.createAreaCode != ''">
                AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createPositionCode != null and query.createPositionCode != ''">
                AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
                AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createSystemCode != null and query.createSystemCode != ''">
                AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createTenantId != null and query.createTenantId != ''">
                AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.delFlag != null">
                AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="com.anyilanxin.skillfull.process.modules.base.service.dto.DesignListenDto"
            parameterType="com.anyilanxin.skillfull.process.modules.base.controller.vo.DesignListenQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM act_custom_design_listen
        <where>
            del_flag = 0
            <if test="listenId != null and listenId != ''">
                AND listen_id = #{listenId, jdbcType=VARCHAR}
            </if>
            <if test="listenCode != null and listenCode != ''">
                AND listen_code = #{listenCode, jdbcType=VARCHAR}
            </if>
            <if test="listenType != null">
                AND listen_type = #{listenType, jdbcType=INTEGER}
            </if>
            <if test="listenName != null and listenName != ''">
                AND listen_name = #{listenName, jdbcType=VARCHAR}
            </if>
            <if test="classPath != null and classPath != ''">
                AND class_path = #{classPath, jdbcType=VARCHAR}
            </if>
            <if test="eventType != null and eventType != ''">
                AND event_type = #{eventType, jdbcType=VARCHAR}
            </if>
            <if test="listenState != null">
                AND listen_state = #{listenState, jdbcType=INTEGER}
            </if>
            <if test="listenValueType != null">
                AND listen_value_type = #{listenValueType, jdbcType=INTEGER}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="createAreaCode != null and createAreaCode != ''">
                AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="createPositionCode != null and createPositionCode != ''">
                AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="createOrgSysCode != null and createOrgSysCode != ''">
                AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="createSystemCode != null and createSystemCode != ''">
                AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createTenantId != null and createTenantId != ''">
                AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- 通过监听id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM act_custom_design_listen
        WHERE listen_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM act_custom_design_listen
        WHERE listen_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE act_custom_design_listen
        <set>
            del_flag = 1,
        </set>
        WHERE listen_id = #{listenId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE act_custom_design_listen
        <set>
            del_flag = 1,
        </set>
        WHERE listen_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:off -->
</mapper>
