<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.skillfull.process.modules.base.mapper.DesignFormDetailMapper">

  <resultMap type="com.anyilanxin.skillfull.process.modules.base.entity.DesignFormDetailEntity"
             id="DesignFormDetailMap">
    <result property="formDetailId" column="form_detail_id" jdbcType="VARCHAR"/>
    <result property="fromFiledName" column="from_filed_name" jdbcType="VARCHAR"/>
    <result property="formFiledType" column="form_filed_type" jdbcType="INTEGER"/>
    <result property="formFiledLabel" column="form_filed_label" jdbcType="VARCHAR"/>
    <result property="formFiledMust" column="form_filed_must" jdbcType="INTEGER"/>
    <result property="formFiledErrorMsg" column="form_filed_error_msg" jdbcType="VARCHAR"/>
    <result property="formFiledSort" column="form_filed_sort" jdbcType="INTEGER"/>
    <result property="formFiledState" column="form_filed_state" jdbcType="INTEGER"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>
  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        form_detail_id, from_filed_name, form_filed_type, form_filed_label, form_filed_must, form_filed_error_msg,
        form_filed_sort, form_filed_state, remark, create_area_code, create_position_code, create_org_sys_code,
        create_system_code, create_tenant_id, create_user_id, create_user_name, create_time, update_user_id,
        update_user_name, update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.form_detail_id, ali.from_filed_name, ali.form_filed_type, ali.form_filed_label, ali.form_filed_must,
        ali.form_filed_error_msg, ali.form_filed_sort, ali.form_filed_state, ali.remark, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id,
        ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name,
        ali.update_time, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.form_detail_id, ali.from_filed_name, ali.form_filed_type, ali.form_filed_label, ali.form_filed_must,
        ali.form_filed_error_msg, ali.form_filed_sort, ali.form_filed_state, ali.remark, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id,
        ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name,
        ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="com.anyilanxin.skillfull.process.modules.base.service.dto.DesignFormDetailPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM act_custom_design_form_detail ali
        <where>
            ali.del_flag = 0
            <if test="query.formDetailId != null and query.formDetailId != ''">
                AND ali.form_detail_id = #{query.formDetailId, jdbcType=VARCHAR}
            </if>
            <if test="query.fromFiledName != null and query.fromFiledName != ''">
                AND ali.from_filed_name = #{query.fromFiledName, jdbcType=VARCHAR}
            </if>
            <if test="query.formFiledType != null">
                AND ali.form_filed_type = #{query.formFiledType, jdbcType=INTEGER}
            </if>
            <if test="query.formFiledLabel != null and query.formFiledLabel != ''">
                AND ali.form_filed_label = #{query.formFiledLabel, jdbcType=VARCHAR}
            </if>
            <if test="query.formFiledMust != null">
                AND ali.form_filed_must = #{query.formFiledMust, jdbcType=INTEGER}
            </if>
            <if test="query.formFiledErrorMsg != null and query.formFiledErrorMsg != ''">
                AND ali.form_filed_error_msg = #{query.formFiledErrorMsg, jdbcType=VARCHAR}
            </if>
            <if test="query.formFiledSort != null">
                AND ali.form_filed_sort = #{query.formFiledSort, jdbcType=INTEGER}
            </if>
            <if test="query.formFiledState != null">
                AND ali.form_filed_state = #{query.formFiledState, jdbcType=INTEGER}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND ali.remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.createAreaCode != null and query.createAreaCode != ''">
                AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createPositionCode != null and query.createPositionCode != ''">
                AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
                AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createSystemCode != null and query.createSystemCode != ''">
                AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createTenantId != null and query.createTenantId != ''">
                AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.delFlag != null">
                AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="com.anyilanxin.skillfull.process.modules.base.service.dto.DesignFormDetailDto"
            parameterType="com.anyilanxin.skillfull.process.modules.base.controller.vo.DesignFormDetailQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM act_custom_design_form_detail
        <where>
            del_flag = 0
            <if test="formDetailId != null and formDetailId != ''">
                AND form_detail_id = #{formDetailId, jdbcType=VARCHAR}
            </if>
            <if test="fromFiledName != null and fromFiledName != ''">
                AND from_filed_name = #{fromFiledName, jdbcType=VARCHAR}
            </if>
            <if test="formFiledType != null">
                AND form_filed_type = #{formFiledType, jdbcType=INTEGER}
            </if>
            <if test="formFiledLabel != null and formFiledLabel != ''">
                AND form_filed_label = #{formFiledLabel, jdbcType=VARCHAR}
            </if>
            <if test="formFiledMust != null">
                AND form_filed_must = #{formFiledMust, jdbcType=INTEGER}
            </if>
            <if test="formFiledErrorMsg != null and formFiledErrorMsg != ''">
                AND form_filed_error_msg = #{formFiledErrorMsg, jdbcType=VARCHAR}
            </if>
            <if test="formFiledSort != null">
                AND form_filed_sort = #{formFiledSort, jdbcType=INTEGER}
            </if>
            <if test="formFiledState != null">
                AND form_filed_state = #{formFiledState, jdbcType=INTEGER}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="createAreaCode != null and createAreaCode != ''">
                AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="createPositionCode != null and createPositionCode != ''">
                AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="createOrgSysCode != null and createOrgSysCode != ''">
                AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="createSystemCode != null and createSystemCode != ''">
                AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="createTenantId != null and createTenantId != ''">
                AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- 通过表单详细id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM act_custom_design_form_detail
        WHERE form_detail_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM act_custom_design_form_detail
        WHERE form_detail_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE act_custom_design_form_detail
        <set>
            del_flag = 1,
        </set>
        WHERE form_detail_id = #{formDetailId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE act_custom_design_form_detail
        <set>
            del_flag = 1,
        </set>
        WHERE form_detail_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:off -->
</mapper>
