<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.skillfull.message.modules.chat.mapper.ChatSessionInfoMapper">
  <resultMap type="com.anyilanxin.skillfull.message.modules.chat.entity.ChatSessionInfoEntity"
             id="ChatSessionInfoMap">
    <result property="sessionInfoId" column="session_info_id" jdbcType="VARCHAR"/>
    <result property="chatType" column="chat_type" jdbcType="INTEGER"/>
    <result property="chatBusinessId" column="chat_business_id" jdbcType="VARCHAR"/>
    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    <result property="noReadMsgNum" column="no_read_msg_num" jdbcType="INTEGER"/>
    <result property="currentReceiveMsgTime" column="current_receive_msg_time" jdbcType="TIMESTAMP"/>
    <result property="readMsgNum" column="read_msg_num" jdbcType="INTEGER"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    <result property="receiverId" column="receiver_id" jdbcType="VARCHAR"/>
  </resultMap>

  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        session_info_id, chat_type, chat_business_id, user_id, no_read_msg_num, current_receive_msg_time, read_msg_num, create_area_code, create_position_code, create_org_sys_code, create_system_code, create_user_id, create_user_name, create_tenant_id, create_time, update_user_id, update_user_name, update_time, remark, del_flag, receiver_id
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.session_info_id, ali.chat_type, ali.chat_business_id, ali.user_id, ali.no_read_msg_num, ali.current_receive_msg_time, ali.read_msg_num, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_user_name, ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag, ali.receiver_id
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.session_info_id, ali.chat_type, ali.chat_business_id, ali.user_id, ali.no_read_msg_num, ali.current_receive_msg_time, ali.read_msg_num, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_user_name, ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.remark, ali.del_flag, ali.receiver_id
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.skillfull.message.modules.chat.service.dto.ChatSessionInfoPageDto">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM msg_chat_session_info ali
        <where>
             ali.del_flag = 0
          <if test="query.sessionInfoId != null and query.sessionInfoId != ''">
             AND ali.session_info_id = #{query.sessionInfoId, jdbcType=VARCHAR}
          </if>
          <if test="query.chatType != null">
             AND ali.chat_type = #{query.chatType, jdbcType=INTEGER}
          </if>
          <if test="query.chatBusinessId != null and query.chatBusinessId != ''">
             AND ali.chat_business_id = #{query.chatBusinessId, jdbcType=VARCHAR}
          </if>
          <if test="query.userId != null and query.userId != ''">
             AND ali.user_id = #{query.userId, jdbcType=VARCHAR}
          </if>
          <if test="query.noReadMsgNum != null">
             AND ali.no_read_msg_num = #{query.noReadMsgNum, jdbcType=INTEGER}
          </if>
          <if test="query.currentReceiveMsgTime != null">
             AND ali.current_receive_msg_time = #{query.currentReceiveMsgTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.readMsgNum != null">
             AND ali.read_msg_num = #{query.readMsgNum, jdbcType=INTEGER}
          </if>
          <if test="query.createAreaCode != null and query.createAreaCode != ''">
             AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createPositionCode != null and query.createPositionCode != ''">
             AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
             AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createSystemCode != null and query.createSystemCode != ''">
             AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createUserId != null and query.createUserId != ''">
             AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
          </if>
          <if test="query.createUserName != null and query.createUserName != ''">
             AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
          </if>
          <if test="query.createTenantId != null and query.createTenantId != ''">
             AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
          </if>
         <if test="query.startTime != null">
             AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.updateUserId != null and query.updateUserId != ''">
             AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
          </if>
          <if test="query.updateUserName != null and query.updateUserName != ''">
             AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
          </if>
          <if test="query.updateTime != null">
             AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.remark != null and query.remark != ''">
             AND ali.remark = #{query.remark, jdbcType=VARCHAR}
          </if>
          <if test="query.delFlag != null">
             AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
          </if>
          <if test="query.receiverId != null and query.receiverId != ''">
             AND ali.receiver_id = #{query.receiverId, jdbcType=VARCHAR}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.skillfull.message.modules.chat.service.dto.ChatSessionInfoDto" parameterType="com.anyilanxin.skillfull.message.modules.chat.controller.vo.ChatSessionInfoQueryVo">
        SELECT
            <include refid="Column_List"/>
        FROM msg_chat_session_info
        <where>
             del_flag = 0
         <if test="sessionInfoId != null and sessionInfoId != ''">
             AND session_info_id = #{sessionInfoId, jdbcType=VARCHAR}
         </if>
         <if test="chatType != null">
             AND chat_type = #{chatType, jdbcType=INTEGER}
         </if>
         <if test="chatBusinessId != null and chatBusinessId != ''">
             AND chat_business_id = #{chatBusinessId, jdbcType=VARCHAR}
         </if>
         <if test="userId != null and userId != ''">
             AND user_id = #{userId, jdbcType=VARCHAR}
         </if>
         <if test="noReadMsgNum != null">
             AND no_read_msg_num = #{noReadMsgNum, jdbcType=INTEGER}
         </if>
         <if test="currentReceiveMsgTime != null">
             AND current_receive_msg_time = #{currentReceiveMsgTime, jdbcType=TIMESTAMP}
         </if>
         <if test="readMsgNum != null">
             AND read_msg_num = #{readMsgNum, jdbcType=INTEGER}
         </if>
         <if test="createAreaCode != null and createAreaCode != ''">
             AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
         </if>
         <if test="createPositionCode != null and createPositionCode != ''">
             AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
         </if>
         <if test="createOrgSysCode != null and createOrgSysCode != ''">
             AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
         </if>
         <if test="createSystemCode != null and createSystemCode != ''">
             AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
         </if>
         <if test="createUserId != null and createUserId != ''">
             AND create_user_id = #{createUserId, jdbcType=VARCHAR}
         </if>
         <if test="createUserName != null and createUserName != ''">
             AND create_user_name = #{createUserName, jdbcType=VARCHAR}
         </if>
         <if test="createTenantId != null and createTenantId != ''">
             AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
         </if>
         <if test="createTime != null">
             AND create_time = #{createTime, jdbcType=TIMESTAMP}
         </if>
         <if test="updateUserId != null and updateUserId != ''">
             AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
         </if>
         <if test="updateUserName != null and updateUserName != ''">
             AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
         </if>
         <if test="updateTime != null">
             AND update_time = #{updateTime, jdbcType=TIMESTAMP}
         </if>
         <if test="remark != null and remark != ''">
             AND remark = #{remark, jdbcType=VARCHAR}
         </if>
         <if test="delFlag != null">
             AND del_flag = #{delFlag, jdbcType=INTEGER}
         </if>
         <if test="receiverId != null and receiverId != ''">
             AND receiver_id = #{receiverId, jdbcType=VARCHAR}
         </if>
        </where>
    </select>


    <!-- 通过会话id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM msg_chat_session_info
        WHERE session_info_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM  msg_chat_session_info
        WHERE session_info_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE msg_chat_session_info
        <set>
            del_flag = 1,
         </set>
        WHERE session_info_id = #{sessionInfoId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE msg_chat_session_info
        <set>
            del_flag = 1,
        </set>
        WHERE session_info_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:off -->
</mapper>
