<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2023-present ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE.txt文件；
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明；
      3.请保留源码和相关描述文件的项目出处，作者声明等；
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      6.本软件不允许在国家法律规定范围外使用，如出现违法行为原作者本人不承担任何法律风险；
      7.进行商用时，不得基于AnYi Cloud的基础，修改包装而成一个与AnYi Cloud EE、AnYi Zeebe EE、AnYi Standalone EE功能类似的程序，进行销售或发布，参与同类软件产品市场的竞争；
      8.本软件使用的第三方依赖皆为开源软件，如需要修改第三方源码请遵循第三方源码附带开源协议；
      9.本软件流程部分请遵循camunda开源协议：
        https://docs.camunda.org/manual/latest/introduction/third-party-libraries
        https://github.com/camunda/camunda-bpm-platform/blob/master/LICENSE
      10.若您的项目无法满足以上几点，可申请商业授权。

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.cloud.auth.modules.user.mapper.RbacUserMapper">
    <resultMap type="com.anyilanxin.cloud.auth.modules.user.entity.RbacUserEntity" id="RbacUserMap">
    <result property="userId" column="user_id" jdbcType="VARCHAR"/>
    <result property="userName" column="user_name" jdbcType="VARCHAR"/>
    <result property="openId" column="open_id" jdbcType="VARCHAR"/>
    <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
    <result property="realName" column="real_name" jdbcType="VARCHAR"/>
    <result property="password" column="password" jdbcType="VARCHAR"/>
    <result property="salt" column="salt" jdbcType="VARCHAR"/>
    <result property="shortProfile" column="short_profile" jdbcType="VARCHAR"/>
    <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
    <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
    <result property="sex" column="sex" jdbcType="INTEGER"/>
    <result property="email" column="email" jdbcType="VARCHAR"/>
    <result property="isInitialPassword" column="is_initial_password" jdbcType="INTEGER"/>
    <result property="phone" column="phone" jdbcType="VARCHAR"/>
    <result property="registerSource" column="register_source" jdbcType="VARCHAR"/>
    <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
    <result property="workNo" column="work_no" jdbcType="VARCHAR"/>
    <result property="telephone" column="telephone" jdbcType="VARCHAR"/>
    <result property="enableDelete" column="enable_delete" jdbcType="INTEGER"/>
    <result property="positionIds" column="position_ids" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="managerOrgIds" column="manager_org_ids" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="loginFailErrorNum" column="login_fail_error_num" jdbcType="INTEGER"/>
    <result property="currentOrgId" column="current_org_id" jdbcType="VARCHAR"/>
    <result property="currentLoginIp" column="current_login_ip" jdbcType="VARCHAR"/>
    <result property="currentLoginDate" column="current_login_date" jdbcType="TIMESTAMP"/>
    <result property="uniqueHelp" column="unique_help" jdbcType="VARCHAR"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>

  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
user_id, user_name, open_id, nick_name, real_name, password, salt, short_profile, avatar, birthday, sex, email, is_initial_password, phone, register_source, user_status, work_no, telephone, enable_delete, position_ids, manager_org_ids, additional_information, login_fail_error_num, current_org_id, current_login_ip, current_login_date, unique_help, remark, create_area_code, create_position_code, create_org_sys_code, create_system_code, create_tenant_id, create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
ali.user_id, ali.user_name, ali.open_id, ali.nick_name, ali.real_name, ali.password, ali.salt, ali.short_profile, ali.avatar, ali.birthday, ali.sex, ali.email, ali.is_initial_password, ali.phone, ali.register_source, ali.user_status, ali.work_no, ali.telephone, ali.enable_delete, ali.position_ids, ali.manager_org_ids, ali.additional_information, ali.login_fail_error_num, ali.current_org_id, ali.current_login_ip, ali.current_login_date, ali.unique_help, ali.remark, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
ali.user_id, ali.user_name, ali.open_id, ali.nick_name, ali.real_name, ali.password, ali.salt, ali.short_profile, ali.avatar, ali.birthday, ali.sex, ali.email, ali.is_initial_password, ali.phone, ali.register_source, ali.user_status, ali.work_no, ali.telephone, ali.enable_delete, ali.position_ids, ali.manager_org_ids, ali.additional_information, ali.login_fail_error_num, ali.current_org_id, ali.current_login_ip, ali.current_login_date, ali.unique_help, ali.remark, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="com.anyilanxin.cloud.auth.modules.user.service.dto.RbacUserPageDto">
        SELECT
             <include refid="Column_List_Page_Ali"/>
        FROM sys_rbac_user ali
        <where>
             ali.del_flag = 0
          <if test="query.userId != null and query.userId != ''">
             AND ali.user_id = #{query.userId, jdbcType=VARCHAR}
          </if>
          <if test="query.userName != null and query.userName != ''">
             AND ali.user_name = #{query.userName, jdbcType=VARCHAR}
          </if>
          <if test="query.openId != null and query.openId != ''">
             AND ali.open_id = #{query.openId, jdbcType=VARCHAR}
          </if>
          <if test="query.nickName != null and query.nickName != ''">
             AND ali.nick_name = #{query.nickName, jdbcType=VARCHAR}
          </if>
          <if test="query.realName != null and query.realName != ''">
             AND ali.real_name = #{query.realName, jdbcType=VARCHAR}
          </if>
          <if test="query.password != null and query.password != ''">
             AND ali.password = #{query.password, jdbcType=VARCHAR}
          </if>
          <if test="query.salt != null and query.salt != ''">
             AND ali.salt = #{query.salt, jdbcType=VARCHAR}
          </if>
          <if test="query.shortProfile != null and query.shortProfile != ''">
             AND ali.short_profile = #{query.shortProfile, jdbcType=VARCHAR}
          </if>
          <if test="query.avatar != null and query.avatar != ''">
             AND ali.avatar = #{query.avatar, jdbcType=VARCHAR}
          </if>
          <if test="query.birthday != null">
             AND ali.birthday = #{query.birthday, jdbcType=TIMESTAMP}
          </if>
          <if test="query.sex != null">
             AND ali.sex = #{query.sex, jdbcType=INTEGER}
          </if>
          <if test="query.email != null and query.email != ''">
             AND ali.email = #{query.email, jdbcType=VARCHAR}
          </if>
          <if test="query.isInitialPassword != null">
             AND ali.is_initial_password = #{query.isInitialPassword, jdbcType=INTEGER}
          </if>
          <if test="query.phone != null and query.phone != ''">
             AND ali.phone = #{query.phone, jdbcType=VARCHAR}
          </if>
          <if test="query.registerSource != null and query.registerSource != ''">
             AND ali.register_source = #{query.registerSource, jdbcType=VARCHAR}
          </if>
          <if test="query.userStatus != null">
             AND ali.user_status = #{query.userStatus, jdbcType=INTEGER}
          </if>
          <if test="query.workNo != null and query.workNo != ''">
             AND ali.work_no = #{query.workNo, jdbcType=VARCHAR}
          </if>
          <if test="query.telephone != null and query.telephone != ''">
             AND ali.telephone = #{query.telephone, jdbcType=VARCHAR}
          </if>
          <if test="query.enableDelete != null">
             AND ali.enable_delete = #{query.enableDelete, jdbcType=INTEGER}
          </if>
          <if test="query.positionIds != null">
             AND ali.position_ids = #{query.positionIds, jdbcType=OTHER}
          </if>
          <if test="query.managerOrgIds != null">
             AND ali.manager_org_ids = #{query.managerOrgIds, jdbcType=OTHER}
          </if>
          <if test="query.additionalInformation != null">
             AND ali.additional_information = #{query.additionalInformation, jdbcType=OTHER}
          </if>
          <if test="query.loginFailErrorNum != null">
             AND ali.login_fail_error_num = #{query.loginFailErrorNum, jdbcType=INTEGER}
          </if>
          <if test="query.currentOrgId != null and query.currentOrgId != ''">
             AND ali.current_org_id = #{query.currentOrgId, jdbcType=VARCHAR}
          </if>
          <if test="query.currentLoginIp != null and query.currentLoginIp != ''">
             AND ali.current_login_ip = #{query.currentLoginIp, jdbcType=VARCHAR}
          </if>
          <if test="query.currentLoginDate != null">
             AND ali.current_login_date = #{query.currentLoginDate, jdbcType=TIMESTAMP}
          </if>
          <if test="query.uniqueHelp != null and query.uniqueHelp != ''">
             AND ali.unique_help = #{query.uniqueHelp, jdbcType=VARCHAR}
          </if>
          <if test="query.remark != null and query.remark != ''">
             AND ali.remark = #{query.remark, jdbcType=VARCHAR}
          </if>
          <if test="query.createAreaCode != null and query.createAreaCode != ''">
             AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createPositionCode != null and query.createPositionCode != ''">
             AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
             AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createSystemCode != null and query.createSystemCode != ''">
             AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
          </if>
          <if test="query.createTenantId != null and query.createTenantId != ''">
             AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
          </if>
          <if test="query.createUserId != null and query.createUserId != ''">
             AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
          </if>
          <if test="query.createUserName != null and query.createUserName != ''">
             AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
          </if>
         <if test="query.startTime != null">
             AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.endTime != null">
             AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.updateUserId != null and query.updateUserId != ''">
             AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
          </if>
          <if test="query.updateUserName != null and query.updateUserName != ''">
             AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
          </if>
          <if test="query.updateTime != null">
             AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
          </if>
          <if test="query.delFlag != null">
             AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
          </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel" resultType="com.anyilanxin.cloud.auth.modules.user.service.dto.RbacUserDto" parameterType="com.anyilanxin.cloud.auth.modules.user.controller.vo.RbacUserQueryVo">
        SELECT
            <include refid="Column_List"/>
        FROM sys_rbac_user
        <where>
             del_flag = 0
         <if test="userId != null and userId != ''">
             AND user_id = #{userId, jdbcType=VARCHAR}
         </if>
         <if test="userName != null and userName != ''">
             AND user_name = #{userName, jdbcType=VARCHAR}
         </if>
         <if test="openId != null and openId != ''">
             AND open_id = #{openId, jdbcType=VARCHAR}
         </if>
         <if test="nickName != null and nickName != ''">
             AND nick_name = #{nickName, jdbcType=VARCHAR}
         </if>
         <if test="realName != null and realName != ''">
             AND real_name = #{realName, jdbcType=VARCHAR}
         </if>
         <if test="password != null and password != ''">
             AND password = #{password, jdbcType=VARCHAR}
         </if>
         <if test="salt != null and salt != ''">
             AND salt = #{salt, jdbcType=VARCHAR}
         </if>
         <if test="shortProfile != null and shortProfile != ''">
             AND short_profile = #{shortProfile, jdbcType=VARCHAR}
         </if>
         <if test="avatar != null and avatar != ''">
             AND avatar = #{avatar, jdbcType=VARCHAR}
         </if>
         <if test="birthday != null">
             AND birthday = #{birthday, jdbcType=TIMESTAMP}
         </if>
         <if test="sex != null">
             AND sex = #{sex, jdbcType=INTEGER}
         </if>
         <if test="email != null and email != ''">
             AND email = #{email, jdbcType=VARCHAR}
         </if>
         <if test="isInitialPassword != null">
             AND is_initial_password = #{isInitialPassword, jdbcType=INTEGER}
         </if>
         <if test="phone != null and phone != ''">
             AND phone = #{phone, jdbcType=VARCHAR}
         </if>
         <if test="registerSource != null and registerSource != ''">
             AND register_source = #{registerSource, jdbcType=VARCHAR}
         </if>
         <if test="userStatus != null">
             AND user_status = #{userStatus, jdbcType=INTEGER}
         </if>
         <if test="workNo != null and workNo != ''">
             AND work_no = #{workNo, jdbcType=VARCHAR}
         </if>
         <if test="telephone != null and telephone != ''">
             AND telephone = #{telephone, jdbcType=VARCHAR}
         </if>
         <if test="enableDelete != null">
             AND enable_delete = #{enableDelete, jdbcType=INTEGER}
         </if>
         <if test="positionIds != null">
             AND position_ids = #{positionIds, jdbcType=OTHER}
         </if>
         <if test="managerOrgIds != null">
             AND manager_org_ids = #{managerOrgIds, jdbcType=OTHER}
         </if>
         <if test="additionalInformation != null">
             AND additional_information = #{additionalInformation, jdbcType=OTHER}
         </if>
         <if test="loginFailErrorNum != null">
             AND login_fail_error_num = #{loginFailErrorNum, jdbcType=INTEGER}
         </if>
         <if test="currentOrgId != null and currentOrgId != ''">
             AND current_org_id = #{currentOrgId, jdbcType=VARCHAR}
         </if>
         <if test="currentLoginIp != null and currentLoginIp != ''">
             AND current_login_ip = #{currentLoginIp, jdbcType=VARCHAR}
         </if>
         <if test="currentLoginDate != null">
             AND current_login_date = #{currentLoginDate, jdbcType=TIMESTAMP}
         </if>
         <if test="uniqueHelp != null and uniqueHelp != ''">
             AND unique_help = #{uniqueHelp, jdbcType=VARCHAR}
         </if>
         <if test="remark != null and remark != ''">
             AND remark = #{remark, jdbcType=VARCHAR}
         </if>
         <if test="createAreaCode != null and createAreaCode != ''">
             AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
         </if>
         <if test="createPositionCode != null and createPositionCode != ''">
             AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
         </if>
         <if test="createOrgSysCode != null and createOrgSysCode != ''">
             AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
         </if>
         <if test="createSystemCode != null and createSystemCode != ''">
             AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
         </if>
         <if test="createTenantId != null and createTenantId != ''">
             AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
         </if>
         <if test="createUserId != null and createUserId != ''">
             AND create_user_id = #{createUserId, jdbcType=VARCHAR}
         </if>
         <if test="createUserName != null and createUserName != ''">
             AND create_user_name = #{createUserName, jdbcType=VARCHAR}
         </if>
         <if test="createTime != null">
             AND create_time = #{createTime, jdbcType=TIMESTAMP}
         </if>
         <if test="updateUserId != null and updateUserId != ''">
             AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
         </if>
         <if test="updateUserName != null and updateUserName != ''">
             AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
         </if>
         <if test="updateTime != null">
             AND update_time = #{updateTime, jdbcType=TIMESTAMP}
         </if>
         <if test="delFlag != null">
             AND del_flag = #{delFlag, jdbcType=INTEGER}
         </if>
        </where>
    </select>

    <!-- @formatter:on -->
</mapper>
