<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.skillfull.system.modules.rbac.mapper.RbacClientDetailsMapper">
  <resultMap type="com.anyilanxin.skillfull.system.modules.rbac.entity.RbacClientDetailsEntity"
             id="RbacClientDetailsMap">
    <result property="clientDetailId" column="client_detail_id" jdbcType="VARCHAR"/>
    <result property="clientId" column="client_id" jdbcType="VARCHAR"/>
    <result property="clientName" column="client_name" jdbcType="VARCHAR"/>
    <result property="clientIco" column="client_ico" jdbcType="VARCHAR"/>
    <result property="clientSecurity" column="client_security" jdbcType="VARCHAR"/>
    <result property="limitResource" column="limit_resource" jdbcType="INTEGER"/>
    <result property="resourceIds" column="resource_ids" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="signatureRequired" column="signature_required" jdbcType="INTEGER"/>
    <result property="signatureKey" column="signature_key" jdbcType="VARCHAR"/>
    <result property="authorizedGrantTypes" column="authorized_grant_types" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="havaScoped" column="hava_scoped" jdbcType="INTEGER"/>
    <result property="scopes" column="scopes" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="endpoints" column="endpoints" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="singleLogin" column="single_login" jdbcType="INTEGER"/>
    <result property="singleLoginType" column="single_login_type" jdbcType="INTEGER"/>
    <result property="webRegisteredRedirectUri" column="web_registered_redirect_uri" jdbcType="VARCHAR"/>
    <result property="authorityInfos" column="authority_infos" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="innerSystem" column="inner_system" jdbcType="INTEGER"/>
    <result property="lastAuthTime" column="last_auth_time" jdbcType="TIMESTAMP"/>
    <result property="limitError" column="limit_error" jdbcType="INTEGER"/>
    <result property="maxErrorNum" column="max_error_num" jdbcType="INTEGER"/>
    <result property="clientStatus" column="client_status" jdbcType="INTEGER"/>
    <result property="havaAutoApprove" column="hava_auto_approve" jdbcType="INTEGER"/>
    <result property="accessTokenValiditySeconds" column="access_token_validity_seconds" jdbcType="INTEGER"/>
    <result property="refreshTokenValiditySeconds" column="refresh_token_validity_seconds" jdbcType="INTEGER"/>
    <result property="codeValiditySeconds" column="code_validity_seconds" jdbcType="INTEGER"/>
    <result property="additionalInformation" column="additional_information" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="uniqueHelp" column="unique_help" jdbcType="VARCHAR"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>

  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        client_detail_id, client_id, client_name, client_ico, client_security, limit_resource, resource_ids,
        signature_required, signature_key, authorized_grant_types, hava_scoped, scopes, endpoints,
        single_login, single_login_type, web_registered_redirect_uri, authority_infos, inner_system,
        last_auth_time, limit_error, max_error_num, client_status, hava_auto_approve, access_token_validity_seconds,
        refresh_token_validity_seconds, code_validity_seconds, additional_information, unique_help,
        remark, create_area_code, create_position_code, create_org_sys_code, create_system_code,
        create_user_id, create_user_name, create_tenant_id, create_time, update_user_id, update_user_name,
        update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.client_detail_id, ali.client_id, ali.client_name, ali.client_ico, ali.client_security, ali.limit_resource,
        ali.resource_ids, ali.signature_required, ali.signature_key, ali.authorized_grant_types, ali.hava_scoped,
        ali.scopes, ali.endpoints, ali.single_login, ali.single_login_type, ali.web_registered_redirect_uri,
        ali.authority_infos, ali.inner_system, ali.last_auth_time, ali.limit_error, ali.max_error_num,
        ali.client_status, ali.hava_auto_approve, ali.access_token_validity_seconds, ali.refresh_token_validity_seconds,
        ali.code_validity_seconds, ali.additional_information, ali.unique_help, ali.remark, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_user_id,
        ali.create_user_name, ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name,
        ali.update_time, ali.del_flag
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.client_detail_id, ali.client_id, ali.client_name, ali.client_ico, ali.client_security,
        ali.limit_resource, ali.resource_ids, ali.signature_required, ali.signature_key, ali.authorized_grant_types,
        ali.hava_scoped, ali.scopes, ali.endpoints, ali.single_login, ali.single_login_type,
        ali.web_registered_redirect_uri, ali.authority_infos, ali.inner_system, ali.last_auth_time,
        ali.limit_error, ali.max_error_num, ali.client_status, ali.hava_auto_approve,
        ali.access_token_validity_seconds, ali.refresh_token_validity_seconds, ali.code_validity_seconds,
        ali.additional_information, ali.unique_help, ali.remark, ali.create_area_code, ali.create_position_code,
        ali.create_org_sys_code, ali.create_system_code, ali.create_user_id, ali.create_user_name,
        ali.create_tenant_id, ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="com.anyilanxin.skillfull.system.modules.rbac.service.dto.RbacClientDetailsPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM sys_rbac_client_details ali
        <where>
            ali.del_flag = 0
            <if test="query.clientId != null and query.clientId != ''">
                AND LOCATE(#{query.clientId, jdbcType=VARCHAR}, ali.client_id) &gt; 0
            </if>
            <if test="query.clientName != null and query.clientName != ''">
                AND LOCATE(#{query.clientName, jdbcType=VARCHAR}, ali.client_name) &gt; 0
            </if>
            <if test="query.clientStatus != null">
                AND ali.client_status = #{query.clientStatus, jdbcType=INTEGER}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>


    <!-- 通过客户端信息id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM sys_rbac_client_details
        WHERE client_detail_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM  sys_rbac_client_details
        WHERE client_detail_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE sys_rbac_client_details
        <set>
            del_flag = 1,
            unique_help = client_detail_id,
         </set>
        WHERE client_detail_id = #{clientDetailId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE sys_rbac_client_details
        <set>
            del_flag = 1,
            unique_help = client_detail_id,
        </set>
        WHERE client_detail_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:off -->
</mapper>
