<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2021-2022 ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE文件。
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明。
      3.请保留源码和相关描述文件的项目出处，作者声明等。
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud
      6.若您的项目无法满足以上几点，可申请商业授权

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.skillfull.system.modules.rbac.mapper.RbacOrgMenuMapper">
    <resultMap type="com.anyilanxin.skillfull.system.modules.rbac.entity.RbacOrgMenuEntity" id="RbacOrgMenuMap">
        <result property="roleMenuId" column="role_menu_id" jdbcType="VARCHAR"/>
        <result property="menuId" column="menu_id" jdbcType="VARCHAR"/>
        <result property="orgId" column="org_id" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        role_menu_id, menu_id, org_id
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.role_menu_id, ali.menu_id, ali.org_id
    </sql>


    <!--数据库字段待别名-->
    <sql id="Column_Menu_List_Ali">
        ali.menu_id, ali.parent_id, ali.`path`, ali.component, ali.path_name, ali.redirect, ali.menu_type,
        ali.iframe, ali.iframe_type, ali.menu_status, ali.meta_title, ali.ignore_auth, ali.ignore_keep_alive,
        ali.affix, ali.icon, ali.icon_type, ali.frame_src, ali.transition_name, ali.hide_breadcrumb,
        ali.carry_param, ali.hide_children_in_menu, ali.current_active_menu, ali.hide_tab, ali.hide_menu,
        ali.order_no, ali.ignore_route, ali.show_tag, ali.type, ali.content, ali.dot, ali.hide_path_for_children,
        ali.system_id, ali.enable_delete, ali.menu_sys_code,
        ali.unique_help, ali.remark, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time,
        ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag, ali.button_action
    </sql>

     <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.role_menu_id, ali.menu_id, ali.org_id
    </sql>


    <!-- 查询机构功能权限 -->
    <select id="selectMenuListById" resultType="java.lang.String">
        SELECT menu_id
        FROM sys_rbac_org_menu
        WHERE org_id = #{orgId, jdbcType=VARCHAR}
    </select>


    <!-- 查询机构菜单树 -->
    <select id="selectByParams"
            resultType="com.anyilanxin.skillfull.system.modules.rbac.entity.RbacMenuEntity">
          SELECT DISTINCT
              <include refid="Column_Menu_List_Ali"/>
          FROM  sys_rbac_menu ali
          INNER JOIN sys_rbac_org_menu srom ON ali.menu_id = srom.menu_id
          <where>
            ali.del_flag = 0
            AND srom.org_id = #{orgId, jdbcType=VARCHAR}
            <if test="status != null">
                AND ali.menu_status = #{status, jdbcType=INTEGER}
            </if>
            <if test="systemId != null and systemId != ''">
                AND ali.system_id = #{systemId, jdbcType=INTEGER}
            </if>
          </where>
    </select>


    <!-- 通过权限角色id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM sys_rbac_org_menu
        WHERE org_id = #{orgId, jdbcType=VARCHAR}
    </delete>


    <!-- 删除不在不存在当前列表的资源 -->
    <delete id="physicalDeleteNotInIds">
        DELETE
        FROM  sys_rbac_org_menu
        WHERE menu_id NOT IN
             <foreach collection="coll" item="item" open="(" separator="," close=")">
                #{item}
             </foreach>
              AND org_id = #{orgId, jdbcType=VARCHAR}
    </delete>
    <!-- @formatter:off -->
</mapper>
