<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zxiaozhou.skillfull.auth.modules.common.mapper.CommonUserIdentityMapper">

    <resultMap type="indi.zxiaozhou.skillfull.auth.modules.common.entity.CommonUserIdentityEntity"
               id="CommonUserIdentityMap">
        <result property="identityId" column="identity_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="realName" column="real_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="nationality" column="nationality" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="idCardIssue" column="id_card_issue" jdbcType="VARCHAR"/>
        <result property="idCardEffective" column="id_card_effective" jdbcType="TIMESTAMP"/>
        <result property="idCardEffectiveEnd" column="id_card_effective_end" jdbcType="TIMESTAMP"/>
        <result property="positivePhoto" column="positive_photo" jdbcType="VARCHAR"/>
        <result property="backPhoto" column="back_photo" jdbcType="VARCHAR"/>
        <result property="handheldPhoto" column="handheld_photo" jdbcType="VARCHAR"/>
        <result property="identityStatus" column="identity_status" jdbcType="INTEGER"/>
        <result property="auditStartTime" column="audit_start_time" jdbcType="TIMESTAMP"/>
        <result property="auditEndTime" column="audit_end_time" jdbcType="TIMESTAMP"/>
        <result property="bankCardPositive" column="bank_card_positive" jdbcType="VARCHAR"/>
        <result property="bankCardBack" column="bank_card_back" jdbcType="VARCHAR"/>
        <result property="bankCardNum" column="bank_card_num" jdbcType="VARCHAR"/>
        <result property="bankReservePhone" column="bank_reserve_phone" jdbcType="VARCHAR"/>
        <result property="belongArea" column="belong_area" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
        <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
        <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
        <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
        <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--数据库字段-->
    <sql id="Column_List">
        identity_id, user_id, real_name, sex, nationality, id_card, id_card_issue, id_card_effective,
        id_card_effective_end, positive_photo, back_photo, handheld_photo, identity_status, audit_start_time,
        audit_end_time, bank_card_positive, bank_card_back, bank_card_num, bank_reserve_phone, belong_area, remark,
        create_area_code, create_position_code, create_org_sys_code, create_system_code, create_tenant_id,
        create_user_id, create_user_name, create_time, update_user_id, update_user_name, update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.identity_id, ali.user_id, ali.real_name, ali.sex, ali.nationality, ali.id_card, ali.id_card_issue,
        ali.id_card_effective, ali.id_card_effective_end, ali.positive_photo, ali.back_photo, ali.handheld_photo,
        ali.identity_status, ali.audit_start_time, ali.audit_end_time, ali.bank_card_positive, ali.bank_card_back,
        ali.bank_card_num, ali.bank_reserve_phone, ali.belong_area, ali.remark, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id,
        ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name,
        ali.update_time, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.identity_id, ali.user_id, ali.real_name, ali.sex, ali.nationality, ali.id_card, ali.id_card_issue,
        ali.id_card_effective, ali.id_card_effective_end, ali.positive_photo, ali.back_photo, ali.handheld_photo,
        ali.identity_status, ali.audit_start_time, ali.audit_end_time, ali.bank_card_positive, ali.bank_card_back,
        ali.bank_card_num, ali.bank_reserve_phone, ali.belong_area, ali.remark, ali.create_area_code,
        ali.create_position_code, ali.create_org_sys_code, ali.create_system_code, ali.create_tenant_id,
        ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id, ali.update_user_name,
        ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="indi.zxiaozhou.skillfull.auth.modules.common.service.dto.CommonUserIdentityPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM auth_common_user_identity ali
        <where>
            ali.del_flag = 0
            <if test="query.identityId != null and query.identityId != ''">
                AND ali.identity_id = #{query.identityId, jdbcType=VARCHAR}
            </if>
            <if test="query.userId != null and query.userId != ''">
                AND ali.user_id = #{query.userId, jdbcType=VARCHAR}
            </if>
            <if test="query.realName != null and query.realName != ''">
                AND ali.real_name = #{query.realName, jdbcType=VARCHAR}
            </if>
            <if test="query.sex != null">
                AND ali.sex = #{query.sex, jdbcType=INTEGER}
            </if>
            <if test="query.nationality != null and query.nationality != ''">
                AND ali.nationality = #{query.nationality, jdbcType=VARCHAR}
            </if>
            <if test="query.idCard != null and query.idCard != ''">
                AND ali.id_card = #{query.idCard, jdbcType=VARCHAR}
            </if>
            <if test="query.idCardIssue != null and query.idCardIssue != ''">
                AND ali.id_card_issue = #{query.idCardIssue, jdbcType=VARCHAR}
            </if>
            <if test="query.idCardEffective != null">
                AND ali.id_card_effective = #{query.idCardEffective, jdbcType=TIMESTAMP}
            </if>
            <if test="query.idCardEffectiveEnd != null">
                AND ali.id_card_effective_end = #{query.idCardEffectiveEnd, jdbcType=TIMESTAMP}
            </if>
            <if test="query.positivePhoto != null and query.positivePhoto != ''">
                AND ali.positive_photo = #{query.positivePhoto, jdbcType=VARCHAR}
            </if>
            <if test="query.backPhoto != null and query.backPhoto != ''">
                AND ali.back_photo = #{query.backPhoto, jdbcType=VARCHAR}
            </if>
            <if test="query.handheldPhoto != null and query.handheldPhoto != ''">
                AND ali.handheld_photo = #{query.handheldPhoto, jdbcType=VARCHAR}
            </if>
            <if test="query.identityStatus != null">
                AND ali.identity_status = #{query.identityStatus, jdbcType=INTEGER}
            </if>
            <if test="query.auditStartTime != null">
                AND ali.audit_start_time = #{query.auditStartTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.auditEndTime != null">
                AND ali.audit_end_time = #{query.auditEndTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.bankCardPositive != null and query.bankCardPositive != ''">
                AND ali.bank_card_positive = #{query.bankCardPositive, jdbcType=VARCHAR}
            </if>
            <if test="query.bankCardBack != null and query.bankCardBack != ''">
                AND ali.bank_card_back = #{query.bankCardBack, jdbcType=VARCHAR}
            </if>
            <if test="query.bankCardNum != null and query.bankCardNum != ''">
                AND ali.bank_card_num = #{query.bankCardNum, jdbcType=VARCHAR}
            </if>
            <if test="query.bankReservePhone != null and query.bankReservePhone != ''">
                AND ali.bank_reserve_phone = #{query.bankReservePhone, jdbcType=VARCHAR}
            </if>
            <if test="query.belongArea != null and query.belongArea != ''">
                AND ali.belong_area = #{query.belongArea, jdbcType=VARCHAR}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND ali.remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.createAreaCode != null and query.createAreaCode != ''">
                AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createPositionCode != null and query.createPositionCode != ''">
                AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
                AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createSystemCode != null and query.createSystemCode != ''">
                AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createTenantId != null and query.createTenantId != ''">
                AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.delFlag != null">
                AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="indi.zxiaozhou.skillfull.auth.modules.common.service.dto.CommonUserIdentityDto"
            parameterType="indi.zxiaozhou.skillfull.auth.modules.common.controller.vo.CommonUserIdentityQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM auth_common_user_identity
        <where>
            del_flag = 0
            <if test="identityId != null and identityId != ''">
                AND identity_id = #{identityId, jdbcType=VARCHAR}
            </if>
            <if test="userId != null and userId != ''">
                AND user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="realName != null and realName != ''">
                AND real_name = #{realName, jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                AND sex = #{sex, jdbcType=INTEGER}
            </if>
            <if test="nationality != null and nationality != ''">
                AND nationality = #{nationality, jdbcType=VARCHAR}
            </if>
            <if test="idCard != null and idCard != ''">
                AND id_card = #{idCard, jdbcType=VARCHAR}
            </if>
            <if test="idCardIssue != null and idCardIssue != ''">
                AND id_card_issue = #{idCardIssue, jdbcType=VARCHAR}
            </if>
            <if test="idCardEffective != null">
                AND id_card_effective = #{idCardEffective, jdbcType=TIMESTAMP}
            </if>
            <if test="idCardEffectiveEnd != null">
                AND id_card_effective_end = #{idCardEffectiveEnd, jdbcType=TIMESTAMP}
            </if>
            <if test="positivePhoto != null and positivePhoto != ''">
                AND positive_photo = #{positivePhoto, jdbcType=VARCHAR}
            </if>
            <if test="backPhoto != null and backPhoto != ''">
                AND back_photo = #{backPhoto, jdbcType=VARCHAR}
            </if>
            <if test="handheldPhoto != null and handheldPhoto != ''">
                AND handheld_photo = #{handheldPhoto, jdbcType=VARCHAR}
            </if>
            <if test="identityStatus != null">
                AND identity_status = #{identityStatus, jdbcType=INTEGER}
            </if>
            <if test="auditStartTime != null">
                AND audit_start_time = #{auditStartTime, jdbcType=TIMESTAMP}
            </if>
            <if test="auditEndTime != null">
                AND audit_end_time = #{auditEndTime, jdbcType=TIMESTAMP}
            </if>
            <if test="bankCardPositive != null and bankCardPositive != ''">
                AND bank_card_positive = #{bankCardPositive, jdbcType=VARCHAR}
            </if>
            <if test="bankCardBack != null and bankCardBack != ''">
                AND bank_card_back = #{bankCardBack, jdbcType=VARCHAR}
            </if>
            <if test="bankCardNum != null and bankCardNum != ''">
                AND bank_card_num = #{bankCardNum, jdbcType=VARCHAR}
            </if>
            <if test="bankReservePhone != null and bankReservePhone != ''">
                AND bank_reserve_phone = #{bankReservePhone, jdbcType=VARCHAR}
            </if>
            <if test="belongArea != null and belongArea != ''">
                AND belong_area = #{belongArea, jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="createAreaCode != null and createAreaCode != ''">
                AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="createPositionCode != null and createPositionCode != ''">
                AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="createOrgSysCode != null and createOrgSysCode != ''">
                AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="createSystemCode != null and createSystemCode != ''">
                AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="createTenantId != null and createTenantId != ''">
                AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
        </where>
    </select>


    <!-- 通过实名信息id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM auth_common_user_identity
        WHERE identity_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM auth_common_user_identity
        WHERE identity_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE auth_common_user_identity
        <set>
            del_flag = 1,
        </set>
        WHERE identity_id = #{identityId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE auth_common_user_identity
        <set>
            del_flag = 1,
        </set>
        WHERE identity_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>