<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zxiaozhou.skillfull.auth.modules.common.mapper.CommonSystemMapper">

    <resultMap type="indi.zxiaozhou.skillfull.auth.modules.common.entity.CommonSystemEntity" id="CommonSystemMap">
        <result property="systemId" column="system_id" jdbcType="VARCHAR"/>
        <result property="systemName" column="system_name" jdbcType="VARCHAR"/>
        <result property="systemCode" column="system_code" jdbcType="VARCHAR"/>
        <result property="systemDescribe" column="system_describe" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="uniqueHelp" column="unique_help" jdbcType="VARCHAR"/>
        <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
        <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
        <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
        <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
        <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <!--数据库字段-->
    <sql id="Column_List">
        system_id, system_name, system_code, system_describe, icon, remark, unique_help, create_area_code,
        create_position_code, create_org_sys_code, create_system_code, create_tenant_id, create_user_id,
        create_user_name, create_time, update_user_id, update_user_name, update_time, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.system_id, ali.system_name, ali.system_code, ali.system_describe, ali.icon, ali.remark, ali.unique_help,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id,
        ali.update_user_name, ali.update_time, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.system_id, ali.system_name, ali.system_code, ali.system_describe, ali.icon, ali.remark, ali.unique_help,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_tenant_id, ali.create_user_id, ali.create_user_name, ali.create_time, ali.update_user_id,
        ali.update_user_name, ali.update_time, ali.del_flag
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel" resultType="indi.zxiaozhou.skillfull.auth.modules.common.service.dto.CommonSystemPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM auth_common_system ali
        <where>
            ali.del_flag = 0
            <if test="query.systemName != null and query.systemName != ''">
                AND LOCATE(#{query.systemName, jdbcType=VARCHAR}, ali.system_name) &gt; 0
            </if>
            <if test="query.systemCode != null and query.systemCode != ''">
                AND LOCATE(#{query.systemCode, jdbcType=VARCHAR}, ali.system_code) &gt; 0
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>


    <!-- 通过系统id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM auth_common_system
        WHERE system_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM auth_common_system
        WHERE system_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE auth_common_system
        <set>
            del_flag = 1,
            unique_help = system_id,
        </set>
        WHERE system_id = #{systemId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE auth_common_system
        <set>
            del_flag = 1,
            unique_help = system_id,
        </set>
        WHERE system_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
