<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2021-present ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE.txt文件；
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明；
      3.请保留源码和相关描述文件的项目出处，作者声明等；
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      6.本软件不允许在国家法律规定范围外使用，如出现违法行为原作者本人不承担任何法律风险；
      7.进行商用时，不得基于AnYi Cloud的基础，修改包装而成一个与AnYi Cloud EE、AnYi Zeebe EE、AnYi Standalone EE功能类似的程序，进行销售或发布，参与同类软件产品市场的竞争；
      8.本软件使用的第三方依赖皆为开源软件，如需要修改第三方源码请遵循第三方源码附带开源协议；
      9.本软件流程部分请遵循camunda开源协议：
        https://docs.camunda.org/manual/latest/introduction/third-party-libraries
        https://github.com/camunda/camunda-bpm-platform/blob/master/LICENSE
      10.若您的项目无法满足以上几点，可申请商业授权。

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.anyicloud.system.modules.common.mapper.CommonDictItemMapper">

  <resultMap type="com.anyilanxin.anyicloud.system.modules.common.entity.CommonDictItemEntity" id="CommonDictItemMap">
    <result property="itemId" column="item_id" jdbcType="VARCHAR"/>
    <result property="dictId" column="dict_id" jdbcType="VARCHAR"/>
    <result property="itemText" column="item_text" jdbcType="VARCHAR"/>
    <result property="itemValue" column="item_value" jdbcType="VARCHAR"/>
    <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
    <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
    <result property="itemStatus" column="item_status" jdbcType="INTEGER"/>
    <result property="uniqueHelp" column="unique_help" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
  </resultMap>
  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        item_id, dict_id, item_text, item_value, dict_code, sort_order, item_status, unique_help, create_area_code,
        create_position_code, create_org_sys_code, create_system_code, create_user_id, create_tenant_id,
        create_user_name, create_time, update_user_id, update_user_name, update_time, remark, del_flag
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.item_id, ali.dict_id, ali.item_text, ali.item_value, ali.dict_code, ali.sort_order, ali.item_status,
        ali.unique_help, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_user_id, ali.create_tenant_id, ali.create_user_name, ali.create_time, ali.update_user_id,
        ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.item_id, ali.dict_id, ali.item_text, ali.item_value, ali.dict_code, ali.sort_order, ali.item_status,
        ali.unique_help, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_user_id, ali.create_tenant_id, ali.create_user_name, ali.create_time, ali.update_user_id,
        ali.update_user_name, ali.update_time, ali.remark, ali.del_flag
    </sql>

    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="com.anyilanxin.anyicloud.system.modules.common.service.dto.CommonDictItemPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>,
        scd.dict_name
        FROM sys_common_dict_item ali
        LEFT JOIN sys_common_dict scd ON ali.dict_id = scd.dict_id
        <where>
            ali.del_flag = 0
            <if test="query.keyword != null and query.keyword != ''">
                AND (
                LOCATE(#{query.keyword, jdbcType=VARCHAR}, ali.item_text) &gt; 0
                OR
                LOCATE(#{query.keyword, jdbcType=VARCHAR}, scd.dict_name) &gt; 0
                OR
                LOCATE(#{query.keyword, jdbcType=VARCHAR}, scd.dict_code) &gt; 0
                )
            </if>
            <if test="query.dictId != null and query.dictId != ''">
                AND ali.dict_id = #{query.dictId, jdbcType=VARCHAR}
            </if>
            <if test="query.itemStatus != null">
                AND ali.item_status = #{query.itemStatus, jdbcType=INTEGER}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByCode"
            resultType="com.anyilanxin.anyicloud.system.modules.common.service.dto.CommonDictItemDto">
        SELECT
        <include refid="Column_List_Ali"/>,
        scd.dict_name,
        scd.dict_type
        FROM sys_common_dict scd
        INNER JOIN sys_common_dict_item ali ON scd.dict_id = ali.dict_id
        WHERE scd.del_flag = 0
        AND scd.dict_code = #{dictCode, jdbcType=VARCHAR}
        AND ali.del_flag = 0
        AND ali.item_status = 1
        AND scd.dict_status = 1
    </select>


    <!-- 通过字典项id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM sys_common_dict_item
        WHERE item_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE sys_common_dict_item
        <set>
            del_flag = 1,
            unique_help = item_id,
        </set>
        WHERE item_id = #{itemId, jdbcType=VARCHAR}
    </update>
    <!-- @formatter:off -->
</mapper>
