<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2021-2023 ZHOUXUANHONG(安一老厨)<anyilanxin@aliyun.com>

    AnYi Cloud Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    AnYi Cloud 采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：
      1.请不要删除和修改根目录下的LICENSE文件；
      2.请不要删除和修改 AnYi Cloud 源码头部的版权声明；
      3.请保留源码和相关描述文件的项目出处，作者声明等；
      4.分发源码时候，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://github.com/anyilanxin/anyi-cloud；
      6.本软件不允许在国家法律规定范围外使用，如出现违法行为原作者本人不承担任何法律风险；
      7.进行商用时，不得基于AnYi Cloud的基础，修改包装而成一个与AnYi Zeebe EE、AnYi Cloud EE功能类似的程序，进行销售或发布，参与同类软件产品市场的竞争；
      8.本软件使用的第三方依赖皆为开源软件，如需要修改第三方源码请遵循第三方源码附带开源协议；
      9.本软件流程部分请遵循camunda开源协议：
        https://docs.camunda.org/manual/latest/introduction/third-party-libraries
        https://github.com/camunda/camunda-bpm-platform/blob/master/LICENSE
      10.若您的项目无法满足以上几点，可申请商业授权。

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyilanxin.anyicloud.system.modules.manage.mapper.ManageRouteFilterMapper">

  <resultMap type="com.anyilanxin.anyicloud.system.modules.manage.entity.ManageRouteFilterEntity"
             id="ManageRouteFilterMap">
    <result property="filterId" column="filter_id" jdbcType="VARCHAR"/>
    <result property="serviceId" column="service_id" jdbcType="VARCHAR"/>
    <result property="filterType" column="filter_type" jdbcType="VARCHAR"/>
    <result property="rules" column="rules" jdbcType="VARCHAR"
            typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler"/>
    <result property="enableDelete" column="enable_delete" jdbcType="INTEGER"/>
    <result property="remark" column="remark" jdbcType="VARCHAR"/>
    <result property="createAreaCode" column="create_area_code" jdbcType="VARCHAR"/>
    <result property="createPositionCode" column="create_position_code" jdbcType="VARCHAR"/>
    <result property="createOrgSysCode" column="create_org_sys_code" jdbcType="VARCHAR"/>
    <result property="createSystemCode" column="create_system_code" jdbcType="VARCHAR"/>
    <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
    <result property="createTenantId" column="create_tenant_id" jdbcType="VARCHAR"/>
    <result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
    <result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    <result property="routeId" column="route_id" jdbcType="VARCHAR"/>
    <result property="filterName" column="filter_name" jdbcType="VARCHAR"/>
  </resultMap>
  <!-- @formatter:off -->
    <!--数据库字段-->
    <sql id="Column_List">
        filter_id, service_id, filter_type, rules, enable_delete,
        remark, create_area_code, create_position_code, create_org_sys_code,
        create_system_code, create_user_id, create_tenant_id, create_user_name,
        create_time, update_user_id, update_user_name, update_time, del_flag, route_id, filter_name
    </sql>

    <!--数据库字段待别名-->
    <sql id="Column_List_Ali">
        ali.filter_id, ali.service_id, ali.filter_type, ali.rules, ali.enable_delete,
        ali.remark, ali.create_area_code, ali.create_position_code, ali.create_org_sys_code,
        ali.create_system_code, ali.create_user_id, ali.create_tenant_id, ali.create_user_name,
        ali.create_time, ali.update_user_id, ali.update_user_name, ali.update_time, ali.del_flag,
        ali.route_id, ali.filter_name
    </sql>

    <!--数据库字段-->
    <sql id="Column_List_Page_Ali">
        ali.filter_id, ali.service_id, ali.filter_type, ali.rules, ali.enable_delete, ali.remark,
        ali.create_area_code, ali.create_position_code, ali.create_org_sys_code, ali.create_system_code,
        ali.create_user_id, ali.create_tenant_id, ali.create_user_name, ali.create_time, ali.update_user_id,
        ali.update_user_name, ali.update_time, ali.del_flag, ali.route_id, ali.filter_name
    </sql>


    <!--通过实体作为筛选条件分页查询-->
    <select id="pageByModel"
            resultType="com.anyilanxin.anyicloud.system.modules.manage.service.dto.ManageRouteFilterPageDto">
        SELECT
        <include refid="Column_List_Page_Ali"/>
        FROM sys_manage_route_filter ali
        <where>
            ali.del_flag = 0
            <if test="query.filterId != null and query.filterId != ''">
                AND ali.filter_id = #{query.filterId, jdbcType=VARCHAR}
            </if>
            <if test="query.serviceId != null and query.serviceId != ''">
                AND ali.service_id = #{query.serviceId, jdbcType=VARCHAR}
            </if>
            <if test="query.filterType != null and query.filterType != ''">
                AND ali.filter_type = #{query.filterType, jdbcType=VARCHAR}
            </if>
            <if test="query.rules != null and query.rules != ''">
                AND ali.rules = #{query.rules, jdbcType=VARCHAR}
            </if>
            <if test="query.enableDelete != null">
                AND ali.enable_delete = #{query.enableDelete, jdbcType=INTEGER}
            </if>
            <if test="query.remark != null and query.remark != ''">
                AND ali.remark = #{query.remark, jdbcType=VARCHAR}
            </if>
            <if test="query.createAreaCode != null and query.createAreaCode != ''">
                AND ali.create_area_code = #{query.createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createPositionCode != null and query.createPositionCode != ''">
                AND ali.create_position_code = #{query.createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createOrgSysCode != null and query.createOrgSysCode != ''">
                AND ali.create_org_sys_code = #{query.createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createSystemCode != null and query.createSystemCode != ''">
                AND ali.create_system_code = #{query.createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserId != null and query.createUserId != ''">
                AND ali.create_user_id = #{query.createUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.createTenantId != null and query.createTenantId != ''">
                AND ali.create_tenant_id = #{query.createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="query.createUserName != null and query.createUserName != ''">
                AND ali.create_user_name = #{query.createUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.startTime != null">
                AND ali.create_time &gt;= #{query.startTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.endTime != null">
                AND ali.create_time &lt;= #{query.endTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.updateUserId != null and query.updateUserId != ''">
                AND ali.update_user_id = #{query.updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUserName != null and query.updateUserName != ''">
                AND ali.update_user_name = #{query.updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="query.updateTime != null">
                AND ali.update_time = #{query.updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="query.delFlag != null">
                AND ali.del_flag = #{query.delFlag, jdbcType=INTEGER}
            </if>
            <if test="query.routeId != null and query.routeId != ''">
                AND ali.route_id = #{query.routeId, jdbcType=VARCHAR}
            </if>
            <if test="query.filterName != null and query.filterName != ''">
                AND ali.filter_name = #{query.filterName, jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectListByModel"
            resultType="com.anyilanxin.anyicloud.system.modules.manage.service.dto.ManageRouteFilterDto"
            parameterType="com.anyilanxin.anyicloud.system.modules.manage.controller.vo.ManageRouteFilterQueryVo">
        SELECT
        <include refid="Column_List"/>
        FROM sys_manage_route_filter
        <where>
            del_flag = 0
            <if test="filterId != null and filterId != ''">
                AND filter_id = #{filterId, jdbcType=VARCHAR}
            </if>
            <if test="serviceId != null and serviceId != ''">
                AND service_id = #{serviceId, jdbcType=VARCHAR}
            </if>
            <if test="filterType != null and filterType != ''">
                AND filter_type = #{filterType, jdbcType=VARCHAR}
            </if>
            <if test="rules != null and rules != ''">
                AND rules = #{rules, jdbcType=VARCHAR}
            </if>
            <if test="enableDelete != null">
                AND enable_delete = #{enableDelete, jdbcType=INTEGER}
            </if>
            <if test="remark != null and remark != ''">
                AND remark = #{remark, jdbcType=VARCHAR}
            </if>
            <if test="createAreaCode != null and createAreaCode != ''">
                AND create_area_code = #{createAreaCode, jdbcType=VARCHAR}
            </if>
            <if test="createPositionCode != null and createPositionCode != ''">
                AND create_position_code = #{createPositionCode, jdbcType=VARCHAR}
            </if>
            <if test="createOrgSysCode != null and createOrgSysCode != ''">
                AND create_org_sys_code = #{createOrgSysCode, jdbcType=VARCHAR}
            </if>
            <if test="createSystemCode != null and createSystemCode != ''">
                AND create_system_code = #{createSystemCode, jdbcType=VARCHAR}
            </if>
            <if test="createUserId != null and createUserId != ''">
                AND create_user_id = #{createUserId, jdbcType=VARCHAR}
            </if>
            <if test="createTenantId != null and createTenantId != ''">
                AND create_tenant_id = #{createTenantId, jdbcType=VARCHAR}
            </if>
            <if test="createUserName != null and createUserName != ''">
                AND create_user_name = #{createUserName, jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime, jdbcType=TIMESTAMP}
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                AND update_user_id = #{updateUserId, jdbcType=VARCHAR}
            </if>
            <if test="updateUserName != null and updateUserName != ''">
                AND update_user_name = #{updateUserName, jdbcType=VARCHAR}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
            <if test="delFlag != null">
                AND del_flag = #{delFlag, jdbcType=INTEGER}
            </if>
            <if test="routeId != null and routeId != ''">
                AND route_id = #{routeId, jdbcType=VARCHAR}
            </if>
            <if test="filterName != null and filterName != ''">
                AND filter_name = #{filterName, jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <!-- 通过过滤器id物理删除 -->
    <delete id="physicalDeleteById">
        DELETE
        FROM sys_manage_route_filter
        WHERE filter_id = #{id, jdbcType=VARCHAR}
    </delete>


    <!-- 通过字典id物理批量删除 -->
    <delete id="physicalDeleteBatchIds">
        DELETE
        FROM sys_manage_route_filter
        WHERE filter_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 通过id逻辑删除 -->
    <update id="deleteById">
        UPDATE sys_manage_route_filter
        <set>
            del_flag = 1,
        </set>
        WHERE filter_id = #{filterId, jdbcType=VARCHAR}
    </update>


    <!-- 通过id批量逻辑删除 -->
    <update id="deleteBatchIds">
        UPDATE sys_manage_route_filter
        <set>
            del_flag = 1,
        </set>
        WHERE filter_id IN
        <foreach collection="coll" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!-- @formatter:off -->
</mapper>
